* {
    margin: 0;
    padding: 0;
}
#header {
    text-align: center;

}
.box {
    background-color: blue;
    color: white;
    border: 5px solid red;
    margin: 20px;
    padding: 5px;
}

.mydiv{
    background-color: bisque;
   
}

.mydiv >img{
    border: 12px solid rgb(180, 70, 70);
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}   

.mydiv > p {
    width: 400px;
    border: 12px solid blue;
    padding: 10px;
    margin: 5px;
}

.boxes {
    background-color: red;

}

.box1 {
    color: blue;   
    padding: 10px; 
    border: 2px solid black;
    margin: 25px;
    height: 200px;

}

.box2 {
    color: yellow;
    padding: 10px;
    border: 2px solid blue;
    margin: 35px;
    height: 200px;
    outline-style: dotted;
}